In [1]:
# import libraries
import pandas as pd

In [2]:


mortality_df = pd.read_csv('data/all_infectious_disease.csv', index_col=0)
expenditures_df = pd.read_csv('data/expenditures.csv')
# age_std_df = pd.read_csv('data/agestandardized.csv', index_col=0)

In [3]:
mortality_df.head()

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
1323,EU,Europe,ALB,Albania,2010,All,Age_all,All,40.0,0.329516,1.289031,1.373141
3841,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,2012,All,Age_all,All,35.0,7.099391,37.839414,38.712960
3904,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,2013,All,Age_all,All,28.0,5.944798,29.327673,30.595743
3967,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,2014,All,Age_all,All,40.0,6.896552,40.583518,43.214278
6700,CSA,Central and South America,ARG,Argentina,2010,All,Age_all,All,14684.0,4.642457,29.704645,35.905930

In [4]:
# mortality_df = mortality_df.rename({'Region Code':'Region_Code',
#                                    'Region Name': 'Region_Name',
#                                    'Country Code':'Country_Code',
#                                    'Country Name':'Country_Name'})
mortality_df.columns = mortality_df.columns.str.replace(' ','_')
mortality_df = mortality_df.\
rename(columns={'Percentage_of_cause-specific_deaths_out_of_total_deaths':'Percent_of_Total',
                'Age-standardized_death_rate_per_100_000_standard_population':'Age_Stnd_Per_100k',
                'Death_rate_per_100_000_population':'Death_rate_per_100k'
                                           })
mortality_df.head()

,Region_Code,Region_Name,Country_Code,Country_Name,Year,Sex,Age_group_code,Age_Group,Number,Percent_of_Total,Age_Stnd_Per_100k,Death_rate_per_100k
1323,EU,Europe,ALB,Albania,2010,All,Age_all,All,40.0,0.329516,1.289031,1.373141
3841,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,2012,All,Age_all,All,35.0,7.099391,37.839414,38.712960
3904,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,2013,All,Age_all,All,28.0,5.944798,29.327673,30.595743
3967,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,2014,All,Age_all,All,40.0,6.896552,40.583518,43.214278
6700,CSA,Central and South America,ARG,Argentina,2010,All,Age_all,All,14684.0,4.642457,29.704645,35.905930

In [5]:
mortality_df.to_csv('data/clean_infectious_disease.csv', index=False)

mort_df = pd.read_csv('data/clean_infectious_disease.csv')
mort_df

,Region_Code,Region_Name,Country_Code,Country_Name,Year,Sex,Age_group_code,Age_Group,Number,Percent_of_Total,Age_Stnd_Per_100k,Death_rate_per_100k
0,EU,Europe,ALB,Albania,2010,All,Age_all,All,40.0,0.329516,1.289031,1.373141
1,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,2012,All,Age_all,All,35.0,7.099391,37.839414,38.712960
2,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,2013,All,Age_all,All,28.0,5.944798,29.327673,30.595743
3,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,2014,All,Age_all,All,40.0,6.896552,40.583518,43.214278
4,CSA,Central and South America,ARG,Argentina,2010,All,Age_all,All,14684.0,4.642457,29.704645,35.905930
...,...,...,...,...,...,...,...,...,...,...,...,...
1077,OA,Oceania,AUS,Australia,2018,All,Age_all,All,2484.0,1.565612,4.837722,9.950624
1078,EU,Europe,HUN,Hungary,2021,All,Age_all,All,949.0,0.609815,4.602425,9.850362
1079,EU,Europe,HUN,Hungary,2020,All,Age_all,All,812.0,0.575878,4.166694,8.405492
1080,AS,Asia,SAU,Saudi Arabia,2022,All,Age_all,All,1995.0,2.368543,12.112105,6.200423
1081,AS,Asia,SAU,Saudi Arabia,2021,All,Age_all,All,1376.0,1.593275,8.270370,4.469799

In [6]:

# mortality_grouped = mortality_df.groupby(['Country Name','Cause of Death','Year']).\
# agg({'Cause of Death': ['count']})

# mortality_grouped.head()

In [7]:
# age_std_df.head()

In [8]:
expenditures_df.head()

,country,code,region,income,year,che_gdp(%),hk_gdp(%),che_pc_usd,che,gdp_pc_usd,che_usd
0,Algeria,DZA,AFR,Lower-middle,2015,7.0,0.0,292,"1,163,740","4,197","11,557"
1,Benin,BEN,AFR,Lower-middle,2010,3.0,0.4,30,"142,008","1,009",287
2,Benin,BEN,AFR,Lower-middle,2011,3.0,0.1,33,"151,029","1,099",320
3,Benin,BEN,AFR,Lower-middle,2012,3.1,0.3,34,"174,951","1,113",343
4,Benin,BEN,AFR,Lower-middle,2013,2.9,0.2,35,"177,366","1,214",359

In [9]:
expenditures_df = expenditures_df.rename(columns={'country':'Country Name',
                               'code':'Country Code',
                               'region':'Region Code',
                                'year':'Year'
                               })
expenditures_df.head()

,Country Name,Country Code,Region Code,income,Year,che_gdp(%),hk_gdp(%),che_pc_usd,che,gdp_pc_usd,che_usd
0,Algeria,DZA,AFR,Lower-middle,2015,7.0,0.0,292,"1,163,740","4,197","11,557"
1,Benin,BEN,AFR,Lower-middle,2010,3.0,0.4,30,"142,008","1,009",287
2,Benin,BEN,AFR,Lower-middle,2011,3.0,0.1,33,"151,029","1,099",320
3,Benin,BEN,AFR,Lower-middle,2012,3.1,0.3,34,"174,951","1,113",343
4,Benin,BEN,AFR,Lower-middle,2013,2.9,0.2,35,"177,366","1,214",359

In [10]:
exp_mort_merge = expenditures_df.merge(mortality_df, how='inner', on=['Country Name','Year'
                                                                      ])
# exp_mort_merge.loc[exp_mort_merge['Country Name']=='Egypt',:]
exp_mort_merge = exp_mort_merge.dropna()

exp_mort_merge = exp_mort_merge.\
loc[exp_mort_merge['Age group code']=='Age_all', :]

exp_mort_merge = exp_mort_merge.drop(columns=['Region Code_y', 'Country Code_y'])
exp_mort_merge = exp_mort_merge.rename(columns={'Country Code_x': 'Country Code',
                              'Region Code_x': 'Region Code'})
exp_mort_merge = exp_mort_merge.loc[exp_mort_merge['Sex']=='All',:]
# exp_mort_merge.loc[exp_mort_merge['Country Name']=='Brazil',:]
exp_mort_merge.info()

KeyError: 'Country Name'