In [71]:
# importing pandas to clean
import pandas as pd

In [91]:
# Read in infectious disease data
all_infectious_disease_data = pd.read_csv(r"Data\WHOMortalityDatabase_Deaths_Infectious and parasitic diseases_6th May 2024 20_00.csv", skiprows=[0,1,2,3,4,5], index_col = False)
all_infectious_disease_df = pd.DataFrame(all_infectious_disease_data)
all_infectious_disease_df.head()

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
0,EU,Europe,ALB,Albania,1987,All,Age_unknown,[Unknown],0.0,NaN,NaN,NaN
1,EU,Europe,ALB,Albania,1987,All,Age85_over,[85+],14.0,0.628931,NaN,140.000000
2,EU,Europe,ALB,Albania,1987,All,Age80_84,[80-84],6.0,0.366077,NaN,36.144578
3,EU,Europe,ALB,Albania,1987,All,Age75_79,[75-79],15.0,0.709220,NaN,48.701299
4,EU,Europe,ALB,Albania,1987,All,Age70_74,[70-74],13.0,0.719823,NaN,31.862745

In [96]:
# limit data range to years 2010 or later, all age groups, and all sexes
all_infectious_disease_df = all_infectious_disease_df.drop(all_infectious_disease_df[all_infectious_disease_df['Year'] < 2010].index)
all_infectious_disease_df = all_infectious_disease_df.drop(all_infectious_disease_df[all_infectious_disease_df['Age group code']!='Age_all'].index)
all_infectious_disease_df = all_infectious_disease_df.drop(all_infectious_disease_df[all_infectious_disease_df['Sex']!='All'].index)

In [104]:
# drop null data
all_infectious_disease_df = all_infectious_disease_df.dropna()

In [105]:
# check if dataset has enough data for project
all_infectious_disease_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1082 entries, 1323 to 309519
Data columns (total 12 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   Region Code                                                  1082 non-null   object
 1   Region Name                                                  1082 non-null   object
 2   Country Code                                                 1082 non-null   object
 3   Country Name                                                 1082 non-null   object
 4   Year                                                         1082 non-null   int64
 5   Sex                                                          1082 non-null   object
 6   Age group code                                               1082 non-null   object
 7   Age Group                                                    1082 non-null   object
 8   Number                                                       1082 non-null   float64
 9   Percentage of cause-specific deaths out of total deaths      1082 non-null   float64
 10  Age-standardized death rate per 100 000 standard population  1082 non-null   float64
 11  Death rate per 100 000 population                            1082 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 109.9+ KB

In [107]:
# remove brackets from Age Group column
all_infectious_disease_df['Age Group'] = all_infectious_disease_df['Age Group'].str.strip('[]').astype(str)

In [108]:
# look at data head
all_infectious_disease_df.head()

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population
1323,EU,Europe,ALB,Albania,2010,All,Age_all,All,40.0,0.329516,1.289031,1.373141
3841,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,2012,All,Age_all,All,35.0,7.099391,37.839414,38.712960
3904,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,2013,All,Age_all,All,28.0,5.944798,29.327673,30.595743
3967,NAC,North America and the Caribbean,ATG,Antigua and Barbuda,2014,All,Age_all,All,40.0,6.896552,40.583518,43.214278
6700,CSA,Central and South America,ARG,Argentina,2010,All,Age_all,All,14684.0,4.642457,29.704645,35.905930

In [109]:
#export to CSV
all_infectious_disease_df.to_csv('Data/all_infectious_disease.csv')